body
{
  font-family: Arial;
  background-color: rgb(25, 25, 25);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title
{
  font-weight: bold;
  font-size: 45px;
}

.button-container
{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.move-button
{
  background-color: transparent;
  border: 3px solid white;
  border-radius: 75px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.move-icon
{
  height: 50px;
}

.results-container
{
  display: none;
  flex-direction: column;
  align-items: center;
}

.result
{
  font-weight: bold;
  font-size: 25px;
}

.moves-container
{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.displayed
{
  display: flex;
}

.user-move-container,
.computer-move-container
{
  display: flex;
}

.user-text,
.computer-text
{
  width: 50px;
}

.user-text
{
  text-align: right;
}

.scores
{
  margin-top: 30px;
  margin-bottom: 30px;
}

.reset-scores-button
{
  background-color: white;
  border-style: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 10px;
}